<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} -ChildChain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body background = "{% static 'hospital/images/base-background.jpg' %}">
    <div class="row">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
